section#home{
    background: url(../images/banner-bg.svg) no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding-top: 100px;
    // z-index: -1;
    position: relative;
    padding-bottom: 210px;

    .content{
        margin-top: 60px;
        z-index: 1;

        h1{
            @include h1;
            color: white;
        }

        p{
            color: white;
            font-size: 15px;
            margin-top: 20px;
            
        }

        a.button{
            @include button;
            line-height: 50px;

        }

    }

    img{
        max-width: 80%;
        margin-top: 70px;
    }
}

@media screen and (max-width:768px) {
    
    section#home{
        padding-top: 85px;

        .content{
            margin-top:30px;
    
            p{
                color: white;
                font-size: 15px;
                margin-top: 10px;
                
            }
    
            a.button{
                @include button;
                line-height: 30px;
    
            }
    
        }
    
        img{
            max-width: 100%;
        }
    }

}